button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid #3DABF7;
  color: #FFF;
  background: #3DABF7;

  &:hover {
    background: #3796d7;
  }

  &.empty {
    color: #3DABF7;
    background: #fff;

    &:hover {
      color: #FFF;
      background: #3DABF7;
    }
  }
}